<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/simplecss.css">
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="container">
        <div id="login">
            <div class="title">欢迎来到后台管理系统</div>
            <form action="">
                <div class="content">
                    <div class="row form-group btn-wrap">
                        <a href="/login.html"  class="btn btn-danger">登录</a>
                        <a href="/register.html"  class="btn btn-danger" >注册</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>