<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/simplecss.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/ajax.js"></script>
</head>
<body>
    <div class="container">
        <div id="login">
            <div class="title">欢迎来的Nodeing后台管理系统</div>
            <form action="">
                <div class="content">
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="">用户名:</label>
                        </div>
                        <div class="col-md-8"><input type="text" id="username"></div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-4">
                            <label for="">密码:</label>
                        </div>
                        <div class="col-md-8"><input type="password" id="password"></div>
                    </div>
                    <div class="row form-group btn-wrap">
                        <button type="button" id="btn" class="btn btn-danger">登录</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        var oBtn = document.getElementById('btn');
        var oUser = document.getElementById('username');
        var oPass = document.getElementById('password');
        oBtn.onclick = function(){
            ajax({
                method:'POST',
                url:'/login',
                data:'username='+oUser.value+'&password='+oPass.value,
                success:function(result){
                    console.log(result);
                    if(result.status === 3){
                        window.location.href = "/admin.html";
                    }else{
                        alert(result.message);
                    }
                }
            })
        }
    </script>
</body>
</html>